* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

ul,
li,
menu {
    list-style: none;
}

/*header_section*/
.container {
    width: 950px;
    margin: auto;
}

.page-header {
    background-color: chocolate;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 90px;

}

.menu_item {
    color: antiquewhite;
    padding: 10px;
    font-size: 20px;
}

.logo img {
    width: 120px;
}

.container_icon {
    width: 100px;
}

.row_icon {
    display: flex;
    justify-content: center;

}

i {
    color: white;
}

.items_icon {
    width: 24px;
    text-align: center;
}

/*footer_section_box*/

.container_f {
    background-color: rgb(48, 46, 46);
    height: 80px;

}

.row_s_f {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 10px;
}


.text_footer {
    color: antiquewhite;
    size: 5px;
}


.row_footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    row-gap: 5px;
    padding: 15px;
}

.items_l {
    margin: 1px;
    padding: 2px;
}

.row_social_box {
    display: flex;
    justify-content: space-around;
}

/*main section*/
.container-main {
    margin: 0 auto;
    max-width: 950px;
    padding: 50px 0;
}

.row_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.row_main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-evenly;
    row-gap: 11px;
}

.col-4 {
    width: 33%;
    padding: 10px;
}

.row_card {
    justify-content: center;
    flex-direction: row;
    border: 1px solid rgba(163, 158, 158, 0.575);
}

/*card section*/
.imgCard {
    width: 100%;
}

.card_info {
    padding: 10px
}

.redT {
    color: rgb(227, 55, 32);
    align-self: flex-start te
}


.container_ {
    display: flex;
}

.row_ {
    margin-right: 1px;
}