* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

ul,
li,
menu {
    list-style: none;
}

.total_content {
    width: 100%;
}

.topbar {
    background-color: chocolate;

}

.content {
    width: 900px;

}

.centered {
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}

.padding10px{
    padding: 20px 0;
}

.between {
    justify-content: space-between;
}

.start {
    justify-content: flex-start;
}

.end {
    justify-content: flex-end;
}

.around {
    justify-content: space-around;
}

.flex_column {
    flex-direction: column;
}


.logo {
    width: 100px;
}

.logo>img {
    width: 100%;
}

.wide_item {
    height: 100%;
}

.categories {
    color: antiquewhite;
}

/*main section*/

.container-main {
    max-width: 950px;
    padding: 50px 0;
}

.title {
    margin-bottom: 15px;
}

.main_card {
    row-gap: 11px;
}

.col-4 {
    width: 33%;
    padding: 10px;
}

.card {
    border: 1px solid rgba(163, 158, 158, 0.575);
}

.imgCard {
    width: 100%;
}





/*card section*/


.card_info {
    padding: 10px
}

.redT {
    color: rgb(227, 55, 32);
    align-self: flex-start te
}



.margin1px{
    margin-right: 1px;
}








/*footer*/

.footer {
    background-color: rgb(55, 55, 55);
    height: 100px;
}

.company_info {
    color: aliceblue;
}


.social_icons {
    width: 250px;
}


.padding_ {
    padding: 2px;
}



i {
    color: white;
}








